/*reset csss */

* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}

body {
  background-image: url('../img/maxresdefault.jpg');
  background-size: 100vw 100vh;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

/*nav bar */
.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

a {
  text-decoration: none;
  color: cadetblue;
}

a:hover {
  color: #EEE;;
}

/*header*/

header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* box-text*/

.box-title {
  border: 1px solid black;
  padding: 15px;
  background: white;
  background-clip: padding-box;
  margin: 30px;
  opacity: 0.6;
}

.box-me {
  border: 1px solid black;
  padding: 15px;
  background: white;
  background-clip: padding-box;
  margin: 30px;
  margin-left: 8em;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80vw;
}

.box-me p {
  color: black;
  font-size: larger;
  font-weight: bold;
}

.site-subtitle, 
.site-title {
  color: cadetblue;
  text-align: center;
  font-size: 2.5em;
 
}

.site-subtitle {
 font-style: italic;
}

/* Player Bar */

.container {
  margin: auto;
  width: 960px;
}
.top-bar{
  width: 100%;
  height: 30px;
  background: white;
  color: cadetblue;
  line-height: 30px;
  margin-top: 17em;
}
.top-bar .player-controls {
  float: left;
}
.top-bar .player-controls span{
  cursor: pointer;
  padding: 0 5px;
  -webkit-transition: all linear 0.2s;
}
.top-bar .player-controls span:hover {
  color: #EEE;
}
.top-bar .player-display {
  float: left;
  float: right;
  margin-left: 50px;
}
.top-bar .player-display .player-current-track {
  color: white;
}
.top-bar .player {
  float: left;
}
.top-bar .player-timeline {
  float: left;
  max-width: 200px;
  width: 200px;
  height: 4px;
  margin-top: 13px;
  background: #555;
  margin-left: 20px;
}
.top-bar .player-timeline-control {
  height: 4px;
  background: #999;
}